<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
		<link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
		<script src="script.js"></script>
	</head>
	<body>
		{% include "top.html" %}
		<div id="middle">
			<h2>About</h2>
			<p>
			Have you ever wanted to say something but just couldn't? Well now you can!
			With 'What Do You Wanna Say?', you can say whatever you want, anonymously or otherwise.
			</p>
		</div>
	</body>
</html>